<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{css/noscript.css}">
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <!-- Logo -->
            <a th:href="@{/}" class="logo">
                <span class="fa fa-book"></span> <span class="title">Book Online Store Website</span>
            </a>
            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="@{/}">Home</a></li>

            <li><a th:href="@{/product}">Products</a></li>

            <li sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/admin-home}">Dash Board</a></li>
            <li sec:authorize="isAuthenticated()" >
                <a th:href="@{'/user-profile/'+ ${user.getId()}}">Profile</a>
            </li>

            <li sec:authorize="hasAnyRole('USER', 'ADMIN')" class="active"><a th:href="@{/my-book-case}">My BookCase</a></li>
            <!--      <li class="active"><a th:href="@{/mybookcase}">My BookCase</a></li>-->
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button class="btn" type="submit">Log out</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/process_register}">Sign up</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Products Detail</h1>

            <div class="image main">
                <img src="images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
            </div>

            <!-- Products -->
            <section class="tiles">
                <article class="style1">
									<span class="image">
										<img src="images/product-1-720x480.jpg" alt="" />
									</span>
                    <a href="product-details.html">
                        <h2>One piece</h2>

                        <p><del>$19.00</del> <strong>$19.00</strong></p>

                        <p>ne piece</p>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img src="images/product-2-720x480.jpg" alt="" />
									</span>
                    <a href="product-details.html">
                        <h2>Truyen Kieu</h2>

                        <p><del>$19.00</del> <strong>$19.00</strong></p>

                        <p>Truyen Kieu</p>
                    </a>
                    <button type="button"> </button>
<!--                </article>-->
<!--                <article class="style3">-->
<!--									<span class="image">-->
<!--										<img src="images/product-3-720x480.jpg" alt="" />-->
<!--									</span>-->
<!--                    <a href="product-details.html">-->
<!--                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>-->

<!--                        <p><del>$19.00</del> <strong>$19.00</strong></p>-->

<!--                        <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>-->
<!--                    </a>-->
<!--                </article>-->

<!--                <article class="style4">-->
<!--									<span class="image">-->
<!--										<img src="images/product-4-720x480.jpg" alt="" />-->
<!--									</span>-->
<!--                    <a href="product-details.html">-->
<!--                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>-->

<!--                        <p><del>$19.00</del> <strong>$19.00</strong></p>-->

<!--                        <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>-->
<!--                    </a>-->
<!--                </article>-->

<!--                <article class="style5">-->
<!--									<span class="image">-->
<!--										<img src="images/product-5-720x480.jpg" alt="" />-->
<!--									</span>-->
<!--                    <a href="product-details.html">-->
<!--                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>-->

<!--                        <p><del>$19.00</del> <strong>$19.00</strong></p>-->

<!--                        <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>-->
<!--                    </a>-->
<!--                </article>-->

<!--                <article class="style6">-->
<!--									<span class="image">-->
<!--										<img src="images/product-6-720x480.jpg" alt="" />-->
<!--									</span>-->
<!--                    <a href="product-details.html">-->
<!--                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>-->

<!--                        <p><del>$19.00</del> <strong>$19.00</strong></p>-->

<!--                        <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>-->
<!--                    </a>-->
                </article>
            </section>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Contact Info</h2>

                <ul class="alt">
                    <li><span class="fa fa-envelope-o"></span> <a href="#">contact@company.com</a></li>
                    <li><span class="fa fa-phone"></span> +1 333 4040 5566</li>
                    <li><span class="fa fa-map-pin"></span> 212 Barrington Court New York, ABC 10001 United States of
                        America
                    </li>
                </ul>

                <h2>Follow Us</h2>

                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2020 Company Name</li>
                <li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/jquery.scrolly.min.js}"></script>
<script th:src="@{js/jquery.scrollex.min.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>